<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Clientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Cadastro de Clientes</h1>
    <form action="{{ url_for('register') }}" method="post">
        <p><label >Nome: <input type="text" id="nome" name="nome" required></label></p>
        <p><label >E-mail: <input type="email" id="email" name="email" required></label></p>
        <p><label >Telefone: <input type="tel" id="telefone" name="telefone" required></label></p>
        <p><label >Endereço: <input type="text" id="endereco" name="endereco" required></label></p>
        <p><label >CPF: <input type="" id="cpf" name="cpf" required></label></p>
       
        <p><label>Valor do Serviço (R$): 
            <input type="number" id="service_value" name="service_value" step="0.01" min="0" required>
        </label></p>
       
        <p><label>Descrição do Serviço:</label></p>
        <textarea id="service_description" name="service_description" rows="4" cols="50" required></textarea>

        <button type="submit">Cadastrar</button>
    </form>
